root = true

# Backend code style overrides

[*.cs]
dotnet_analyzer_diagnostic.category-StyleCop.severity = none
dotnet_analyzer_diagnostic.category-Documentation.severity = none
dotnet_diagnostic.SA1633.severity = none
dotnet_diagnostic.SA1200.severity = none
dotnet_diagnostic.SA1309.severity = none
dotnet_diagnostic.SA1101.severity = none
dotnet_diagnostic.SA1503.severity = none
dotnet_diagnostic.SA1516.severity = suggestion
dotnet_diagnostic.SA1505.severity = none
dotnet_diagnostic.SA1508.severity = none
dotnet_diagnostic.SA1413.severity = suggestion
dotnet_diagnostic.SA1201.severity = none
dotnet_diagnostic.SA0001.severity = none
dotnet_diagnostic.SA1028.severity = none
dotnet_diagnostic.SA1208.severity = none
dotnet_diagnostic.SA1210.severity = none
dotnet_diagnostic.SA1513.severity = none
dotnet_diagnostic.SA1502.severity = none
dotnet_diagnostic.SA1009.severity = none
dotnet_diagnostic.SA1025.severity = none
dotnet_diagnostic.SA1111.severity = none
dotnet_diagnostic.SA1501.severity = none
dotnet_diagnostic.SA1600.severity = none
dotnet_diagnostic.SA1611.severity = none
dotnet_diagnostic.SA1615.severity = none
dotnet_diagnostic.SA1027.severity = none
dotnet_diagnostic.SA1507.severity = none
