# Backend code style overrides

[*.cs]
dotnet_diagnostic.SA1633.severity = none
dotnet_diagnostic.SA1200.severity = none
dotnet_diagnostic.SA1309.severity = none
dotnet_diagnostic.SA1101.severity = none
dotnet_diagnostic.SA1503.severity = none
dotnet_diagnostic.SA1516.severity = suggestion
dotnet_diagnostic.SA1505.severity = none
dotnet_diagnostic.SA1508.severity = none
dotnet_diagnostic.SA1413.severity = suggestion
dotnet_diagnostic.SA1201.severity = none
dotnet_diagnostic.SA0001.severity = none
